@import url(reset.css);


#container .cover_image .image {
	background: url(../images/01.jpg) no-repeat center;
	width: 100%;
	height: 300px;
}
#container .cover_image p {
	text-align: center;
	font-size: 13px;
	color: rgba(0,0,0,.54);	
	margin: 10px auto 60px;
}

#container .cover_text { margin: 0 10px; }
#container .cover_text .cpas { font-size: 13px; font-weight: 600; }
#container .cover_text h1 { font-size: 30px; margin: 10px 0; }
#container .cover_text p.summary { color: rgba(0,0,0,.54);	 }

.cover_text .user_info { margin-top: 24px; }
.cover_text .user_info > div { float:left; }
.cover_text .user_info .image a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	border-radius: 50%;	
}
.cover_text .user_info .text {
	width: 70%;
	margin: 10px 3%;
	font-size: 13px;
}

.cover_text .name_follow button {
	border: 1px solid #000;
	border-radius: 3px;
	width: 70px;
}

.articleWrapper { margin-top: 30px; }
.articleWrapper .postArticle { padding: 0 20px; }

.post_end {
	margin: 50px 10px;
}
.post_end .share_bar {
	height: 60px;
	margin: 0 10px;
}
.post_end .share_bar .clap { float: left; }
.post_end .share_bar .clap > button {
	width: 60px;
	height: 60px;
/*	display: block;*/
	border: 1px solid #000;
	border-radius: 50%
}
.post_end .share_bar .clap > span { font-size: 13px;}
.post_end .share_bar .share {
	display: block;
	float: right;
	width: 60px;
	height: 60px;
}

.post_end .profile {
	margin: 50px 14px;
	text-align: center;
}
.post_end .profile .p_image {
	width: 80px;
	height: 80px;
	margin: auto;
	border-radius: 50%;
}
.post_end .profile .mt16 {
	margin-top: 16px;
	font-size: 13px;
	font-weight: bold;
}
.post_end .profile h3 {
	margin: 10px 0;
	font-size: 24px;
}
.post_end .profile .summary {
	color: rgba(0,0,0,.54);	
}
.post_end .profile > button {
	margin-top: 30px;
	width: 80px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 3px;
}

/* next_page */
.next_page { padding: 20px 10px 60px; border-top: 1px solid #aaa; }
.list_page li { margin-bottom: 24px; }
.list_page li a.image {
	display: block;
	height: 160px;
	background: url(../images/01.jpg) no-repeat;
	background-position: 50% 50%;
}
.list_page li > .card_content { padding: 16px 0;}
.list_page li > .card_content h4 {
	font-size: 18px;
}
.list_page li > .card_content p {
	margin: 12px auto 20px;
	font-size: 13px;
}

.list_page li .author > * {
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-right: 30px;
}


/* footer */
.footer {
	height: 91px;
	background: #000;
	padding: 0 20px;
}
.footer h1 { float: left; }
.footer h1 a {
	color: #fff;
	font-size: 30px;
	line-height: 91px;	
}
.footer .tab { float: right; }
.footer .tab li { float: left; }
.footer .tab li a {
	display: block;
	color: #999;
	padding-right: 16px;
	line-height: 110px;	
	font-size: 14px;
}


/*

	font-size: 30px;
	float: left;
	margin-top: 16px;*/
