@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');



/* reset.css */
header,footer,nav,aside,main,section,article{display: block}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea{margin:0; padding:0;}

h1, h2, h3, h4, h5, h6{font-size:100%;}
img, fieldset{border:0px;}
table{border-collapse:collapse;}
ul, ol, li{list-style:none;}
address, em{font-style:normal;}
img, object{vertical-align:top;}
input, select, textarea, form img{vertical-align:middle;}
a{ outline:0; text-decoration:none; border:none;color:#000}
.clearfix::after{
            content: '';
            display: block;
            clear:both;
}

/* 추가 */
button {
	background: #fff;
	border:none;
	cursor:pointer;
	overflow:visible;
	white-space: nowrap;
}














