@import "reset.css";
body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.canvas {
  width: 500px;
  height: 500px;

  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93 ,0.11), 0 1px 3px rgba(0, 0, 0 , 0.08);
}
.controls {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls-colors {
  display: flex;
}
.controls_range {
  margin-bottom: 20px;
}
.controls-btns {
  margin-bottom: 30px;
}
.controls-btns button {
  all: unset;
  background-color: white;
  cursor: pointer;
  padding: 5px 0;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93 ,0.11), 0 1px 3px rgba(0, 0, 0 , 0.08);
  border: 2px solid rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0 , 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
.controls-btns button:active {
  transform: scale(0.98);
}

.controls-color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93 ,0.11), 0 1px 3px rgba(0, 0, 0 , 0.08);
}