/* container main */
.main .sub-visual.type3 {background: url(../images/sub_visual_main3.jpg) center center no-repeat;background-size:cover;}

.txt-area {min-width:1024px;max-width:1200px;width:100%;height:100%; margin: 0 auto; position:relative;background:url(../images/main/visual_box_bg.png) right 160px  no-repeat;color:#fff; }
/*.txt-area .txt1 {position: absolute; top: 260px;left: 0; opacity: 0;font-size:32px;letter-spacing:-0.05em}*/
.txt-area .txt2 {position: absolute; top: 280px;left: 0; opacity: 0; font-size:80px;line-height:88px;font-weight:200;letter-spacing:-0.05em}
.txt-area .txt3 {position: absolute; top: 376px;left: 0; opacity: 0; font-size:80px;line-height:88px;font-weight:200;letter-spacing:-0.05em}
.txt-area .txt3 strong {font-weight:500;}
.txt-area .visual-notice {position:absolute;background:#fff;width:240px;bottom:160px;right:0;font-size:16px;color:#24282b;border:2px solid #3c90e2;}
.txt-area .visual-notice .notice-inner {position:relative;padding:18px 0 18px;}
.txt-area .visual-notice .notice-inner::after {content:'';position:absolute;bottom:-14px;left:50%;transform:translateX(-50%);width:21px;height:16px;background:url('../images/main/visual-notice-arrow-down.png') center center no-repeat;}
.txt-area .visual-notice .notice-inner p{font-size:14px;line-height:16px;color:#6e7c8c;margin-bottom:10px;}
.txt-area .visual-notice .notice-inner a {display:inline-block;font-size:16px;color:#0092ff;padding-bottom:2px;border-bottom:1px solid #0092ff;}

.main .lnb {position:relative;margin:0 auto;max-width:1200px;min-width:1024px;bottom:110px; z-index:1;text-align:center; font-size:0;-webkit-box-shadow: 7px 12px 38px 0 rgba(78, 70, 70, 0.33);box-shadow: 7px 12px 38px 0 rgba(78, 70, 70, 0.33);}
.lnb > ul {position:relative;display: table; width:100%;font-size:0; table-layout: fixed;margin:0 auto;}

.lnb > ul li {width:20%;}
.lnb .box {display: table-cell; background:#fff; padding:0; margin:0;box-sizing:border-box}
.lnb .box + .box {border-left:1px solid #e0e6ea; -webkit-box-sizing: border-box; box-sizing: border-box}
.lnb .box a {position:relative;display:block;height:200px;width:100%;min-width:200px;max-width:240px;padding:20px 27px 25px;text-align:left;font-size:16px;}
.lnb .box a .icon {width:50px;height:50px;margin-bottom:81px;}
.lnb .box a .text {position:relative;padding-right:10px;white-space:nowrap;overflow:hidden;font-size:20px;}
.lnb .box a .text:after {content:'';position:absolute;bottom:0;right:0;width:10px;height:10px;border-top:10px solid transparent;border-right:10px solid #ccd5dc; border-bottom:0; border-left:10px solid transparent;}
.lnb.is_fixed {position:fixed;top:0;left:0;width:100%;max-width:100%;background:#fff;height:66px; margin:0;}
.lnb.is_fixed ul {max-width:1200px;min-width:1024px;}
.lnb.is_fixed ul:after {content:'';position:absolute;width:1px;height:100%;left:0;top:0;background:#e0e6ea}
.lnb.is_fixed .box .icon{display:none;}
.lnb.is_fixed .box a {position:relative;line-height:1.3;height:auto;padding-bottom:20px;}
.lnb.is_fixed .box a:before {height:100%;}

.lnb .box.is_active a{position:relative;}
.lnb .box.is_active a:after {content:'';border:4px solid #3c90e2;position:absolute;bottom:0;left:0;width:100%;height:100%;z-index:1;background:transparent;}
.lnb .box.qualification {background:#3c90e2; color:#fff; border-left: 0}
.lnb .box.qualification a .text:after {content:''; width: 41px; height:9px; border: 0; background: url(../images/main/ico_arrow.png) no-repeat; display: inline-block; position: relative; bottom: auto; right: auto; margin-left: 12px; vertical-align: top; margin-top: 3px}



/* section */
.main .section-title {font-size:36px;line-height:1;color:#24282b; margin-bottom: 30px;}
.main .section .inner {max-width: 1200px; min-width: 1024px; margin: 0 auto;}



/* section 1 */
.section1 {background:#f0f5f8;min-height:1065px;}
.section1 .inner {padding:210px 0 100px; }
.intro-area .intro-header {position:relative; margin-bottom: 60px;}
.intro-area .img-box img{width:100%;}
.intro-area .text-box {position:absolute; top:50%; left:1px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background:#3c90e2; padding: 63px 50px 64px; color:#fff;}
.intro-area .section-title {color:#fff;}
.intro-area .dlist {overflow: hidden;}
.intro-area .dlist dl {float:left; padding-left: 22px; margin-left: 20px; background: url(../images/icons/bar2.gif) no-repeat 0 50%;}
.intro-area .dlist dt {font-size: 20px; color:#24282b; font-weight: 500; float: left; }
.intro-area .dlist dd {font-size: 20px; color:#24282b; font-weight: 200; float: left; padding-left: 8px }
.intro-area .dlist dl:first-child {padding-left: 0; margin-left: 0; background: none }
.intro-header p {margin-top: 37px;font-size:20px;line-height: 30px; font-weight: 200;}
.intro-header p + p {margin-top:10px;font-size:16px;}
.intro-area .img-box {padding-left:240px;}
.intro-area .desc {margin-top: 10px}
.intro-area .process-list {display:table; width: 100%; table-layout: fixed; margin-top: 55px}
.intro-area .process-list li {display:table-cell; font-size:16px; color:#6e7c8c; font-weight: 200; position: relative; padding:27px 0 0 47px; border-top:3px solid #3c90e2;}
.intro-area .process-list li:nth-child(even) {border-top:3px solid #b9c2ca;}
.intro-area .process-list li:first-child {margin:0; border-left: 0}
.intro-area .process-list li:first-child:before {display: none}
.intro-area .process-list li:before {display: block; content:''; width: 3px; background: #f0f4f6; height: 10px; position: absolute; top:-3px; left: 0}
.intro-area .process-list li .strong {font-size:20px; color:#24282b; font-weight:300; line-height:1.6;}
.intro-area .process-list li .num {font-size: 58px; color:#8c99a8; font-weight: 100; display: inline-block; text-indent: -47px; float: left; vertical-align: top; position: relative;top: -7px;}





/* section2 */
.section2 {min-height:1025px}
.section2 .inner {padding: 90px 0 100px;}
.qualification-area dl {display:table; width: 100%; position: relative;}
.qualification-area dl + dl {margin-top:5px;}
.qualification-area dl dt {display:table-cell; color: #0092ff; font-size: 20px; width: 100px; font-weight:300;}
.qualification-area dl dd {display: table-cell; font-size: 20px; line-height: 30px; font-weight: 200; color: #24282b;padding-right:10px;}
.qualification-area .img {width: 538px; background:url('../images/main/section2-grey-box-bg.png') top right no-repeat;}
.qualification-area .img img {margin:60px 58px 0 0; -webkit-box-shadow: 0 12px 38px 0 rgba(87, 70, 70, 0.33); box-shadow: 0 12px 38px 0 rgba(87, 70, 70, 0.33);}
.col-wrap {display: table; width: 100%; table-layout: fixed}
.col-wrap .col {display: table-cell; vertical-align: top;}
.col-wrap .col + .col {text-align: right; width: 538px;}
.col-wrap + .col-wrap {margin-top: 80px}





/* section3 */
.section3 {background:#f0f5f8;min-height:426px;}
.section3 .lead {text-align: right; position: absolute; bottom: 0; right: 0; font-size: 15px; color:#6e7c8c; line-height: 22px; padding-left: 12px;background: url(../images/icons/grey-bul1.png) 0 7px no-repeat;}
.section3 .inner {padding: 90px 0 100px}
.process-area dl {background: #fff; height: 200px; -webkit-box-shadow: 0 12px 38px 0 rgba(78, 70, 70, 0.33); box-shadow: 0 12px 38px 0 rgba(78, 70, 70, 0.33);}
.process-area dt {color:#24282b; font-size: 22px; font-weight:300; text-align: center; padding-top: 20px; position: relative;}
.process-area dt:before {display: block; content:''; width: 80px; height: 80px; margin: 0 auto 18px;}
.process-area dd {color:#24282b; font-size: 16px; font-weight: 200; text-align: center; margin-top: 14px}
.process-area .col-wrap {margin-top: 30px}
.process-area .col-wrap .col {padding-left: 20px}
.process-area .col-wrap .col:first-child {padding-left: 0}
.process-area .col-wrap .col + .col {width: auto}
.process-area .col-wrap .step1 dt:before {background: url(../images/main/icon-process1.png) no-repeat;background-size:contain;}
.process-area .col-wrap .step2 dt:before {background: url(../images/main/icon-process2.png) no-repeat;background-size:contain;}
.process-area .col-wrap .step3 dt:before {background: url(../images/main/icon-process3.png) no-repeat;background-size:contain;}
.process-area .col-wrap .step4 dt:before {background: url(../images/main/icon-process4.png) no-repeat;background-size:contain;}
.process-area .col-wrap dt em {position: absolute; top: 15px; right: 15px; font-size: 27px; color:#8c99a8; font-weight: 200;}
.tooltip {display: inline-block; width: 22px; height: 22px; background: url(../images/main/icon-tooltip.png) no-repeat; position: relative; top: 2px; margin-left: 2px}





/* section4 */
.section4 {min-height:529px;}
.section4 .inner {display:table; width: 100%; table-layout: fixed; padding: 90px 0 140px; }
.cscenter-area {display:table-cell; padding: 0 60px 0 0;}
.cscenter-area .text-link {font-size: 18px; color: #6e7c8c; bottom: 0; top: auto;}
.cscenter-area .btn-wrap {margin-top:16px;}
.text-link:after {background-image:url(../images/icons/icon-right-arrow.png)}
.notice-area {display:table-cell; padding: 0 0 0 60px;}
.notice-area .tbl-list td {text-align: left; padding: 20px 10px;}
.notice-area .tbl-list td.date {color:#6e7c8c; font-weight: 200}
.notice-area .tbl-list td a {display:block;white-space: nowrap;overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;width:auto;max-width:318px;} /* 20180823 수정 */
.cscenter-area .dlist {overflow: hidden; border-top: 1px solid #24282b; margin-top: -1px;}
.cscenter-area .dlist dl {padding: 29px 10px 19px; border-top: 1px solid #e1e1e1;margin-top: -1px;}
.cscenter-area .dlist dt {top:0;left:0;font-size: 22px; color:#3c90e2; font-weight:300; margin-bottom: 10px;}
.cscenter-area .dlist dd {position:relative;font-size: 22px; color:#24282b; font-weight:300; line-height: 40px; vertical-align: top;padding-left:50px;}
.cscenter-area .dlist dd:before { content:'';position:absolute;top:0;left:0; width: 40px; height: 40px;}
.cscenter-area .dlist dd.icon-email:before {background:url(../images/icons/icon-email.png) no-repeat;background-size:contain}
.cscenter-area .dlist dd.icon-phone:before {background:url(../images/icons/icon-phone.png) no-repeat;background-size:contain}





/* tooltip */
.custom-tooltip-styling {
    position: absolute;
    z-index: 9999;
    border: 1px solid #008ff9 !important;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
    border-radius: 0 !important;
    padding: 26px !important;
    max-width: 380px !important;
    color: #24282b;
    font-size: 16px;
    line-height: 22px;
    font-weight: 200;
    background: #fff;
    word-break: keep-all;
    
    width: 380px;
    left: -180px;
    top: 90px;
    text-align: left;
    opacity: 0;
    transition: top .3s ease-in-out, opacity .3s ease-in-out;
}

.custom-tooltip-styling:before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 10px;
    background: url(../images/icons/icon-tooltip2.png) no-repeat;
    position: absolute;
/*
    top: 10px;
    left: 18px;
*/
    z-index: 99;
    top: -10px;
    left: 180px;
}

.custom-tooltip-styling span {
    color: #828f9f;
    display: block;
    font-size: 14px;
}
.tooltip:hover > .custom-tooltip-styling {
    opacity: 1;
    top: 40px;
}







/* my main */
.my-main .lnb {position:fixed;margin:0 auto;max-width:1200px;min-width:1024px;left: 0; right: 0; bottom:0; z-index:1;text-align:center; font-size:0;-webkit-box-shadow: 7px 12px 38px 0 rgba(78, 70, 70, 0.33);box-shadow: 7px 12px 38px 0 rgba(78, 70, 70, 0.33);}


/* my tooltip */
/*
[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:hover:after {
    position: absolute;
    left: -190px;
    top: 40px;
    z-index: 98;
    border: 1px solid #008ff9 !important;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
    border-radius: 0 !important;
    padding: 26px !important;
    width: 380px;
    max-width: 380px !important;
    color:#24282b;
    font-size: 16px;
    line-height: 22px;
    font-weight: 200;
    background: #fff;
    word-break: keep-all;
    
    word-wrap: break-word;
	content: attr(data-tooltip-text) ;
    text-align: left;
    
}

[data-tooltip-text]:hover:before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 10px;
    background: url(../images/icons/icon-tooltip2.png) no-repeat;
    position: absolute;
    top: 32px;
    left: 3px;
    z-index: 99;
}

*/
